<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    
    <title>Document</title>
</head>
<body>
        
    <div id="form-main">
            <h1>Extract Text from Image</h1>
        <div id="form-div">
    <form action="/upload" method="POST" enctype="multipart/form-data" id="form1">
    
     <div class="box">
    <input type="file" name="avater" class="upload" />
    </div>
    <button type="submit" id="button-blue">Convert</button>
    </form>
    </div>
    </div>
</body>
</html>